#about-content {
    padding-top: 150px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15%;
    padding-right: 15%;
    display: inline-block;
    text-align: center;
}
    #about-content #img-col {
        margin-left: auto;
        margin-right: auto;
    }
        #img-col img {
            max-height: 60vh;
            right: 0px;
        }

    #about-content #text-col {
        padding-left: 5%;
    }

        #text-col .about-p {
            width: 100%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 19px;
            text-align: left;
        }

        #text-col a {
            color: #4975e2;
        }

        #text-col a:hover {
            text-decoration: none;
            color: #4975e2;
            border-bottom: 2px solid #4975e2;
            cursor: pointer;
        }
