#about {
  width: 100vw;
  min-height: 100vh;
  background: #fafafa;
}

/* ---------- DEFAULT STYLE ---------- */
#about-content .about-p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
    text-align: left;
    margin-bottom: 15px;
}

    .about-p a {
        color: #4975e2;
    }

    .about-p a:hover {
        text-decoration: none;
        color: #4975e2;
        border-bottom: 2px solid #4975e2;
        cursor: pointer;
    }


/* ---------- LANDSCAPE ORIENTATION ---------- */
@media (orientation: landscape) {
    .center-flex-container {
        display: -webkit-flex;
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .center-flex-item {
        margin: auto;
    }

    .text-flex-container {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .text-flex-item {
        width: 100%;
    }

    #about-content img {
        max-width: 45%;
        padding-right: 5%;
        margin-right: 2%;
        float: left;
    }

    #about-content p {
        font-size: 1.15vw;
    }
}

@media (min-width: 1400px) and (orientation: landscape) {
    #about-content {
        max-width: 90%;
        padding-left: 22%;
        padding-right: 22%;
    }

    #about-content p {
        font-size: 1.2vw;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) and (orientation: landscape) {
    #about-content {
        padding-left: 22%;
        padding-right: 22%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
    #about-content {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    #about-content {
        padding-left: 8%;
        padding-right: 8%;
    }

    #about-content p {
        font-size: 1.7vw;
    }
}


/* ---------- PORTRAIT ORIENTATION ---------- */
@media (orientation: portrait) {
    #about-content img {
        display: block;
        width: 45%;
        height: auto;
        max-height: none;
        max-width: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
        float: none;
    }

    #about-content .about-p {
        text-align: center;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    #about-content {
        padding: 10vh 10vw;
        padding-bottom: 5vh;
    }
    
    #about-content .about-p {
        font-size: 2.5vw;
    }
}

/* image and text become column format rather than row */
@media (max-width: 767px) and (orientation: portrait) {
    #about-content {
        padding: 7vh 5vw;
    }

    #about-content .about-p {
        font-size: 3.6vw;
    }
}
