body {
    height: 100%;
    margin: 0;
    /*color: #352f2f;*/
    color: black;
}

::selection {
  background: #fff379; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff379; /* Gecko Browsers */
}

#home { 
    width: 100vw; 
    height: 100vh;
    background-color: white;
}

#about {
  width: 100vw;
  min-height: 100vh;
  background: #f8f8f8;
}