body {
    height: 100%;
    margin: 0;
    /*color: #352f2f;*/
    color: black;
}

#home { 
    width: 100vw; 
    height: 100vh;
    background-color: white;
}

#about {
  width: 100vw;
  min-height: 100vh;
  background: #f8f8f8;
}

/* ------ VERTICAL ALIGN ------ */
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

/*.section {
  width: 100vw;
  margin-right, margin-right: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
    .section-header {
        display: table;
        height: 100vh;
        vertical-align: middle;
    }
    .section-header h1 {
        display: table-cell;
        height: 100vh;
        vertical-align: middle;
        font-size: 4em;
    }*/