body.modal-open {
    overflow: hidden;
}

#modal-gallery {
    display: none;
    position: fixed;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

/* Modal Content */
#modal-gallery .gallery-slides {
    position: relative;
    background-color: transparent;
    padding: 0 20px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}
    .gallery-slides .slide {
        display: none;
        position: relative;
    }
        .gallery-slides .slide img {
            max-width: 90%;
            max-height: 90vh;
        }

    .gallery-slides .prev,
    .gallery-slides .next {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        transition: 0.5s ease;
    }

    .gallery-slides .prev {
        left: 0;
    }

    .gallery-slides .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .gallery-slides .prev:hover,
    .gallery-slides .next:hover {
        color: gray;
        cursor: pointer;
        text-decoration: none;
    }


/* Close Button */
#modal-gallery .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 0.5s ease;
}

    #modal-gallery .close-button:hover,
    #modal-gallery .close-button:focus {
        text-decoration: none;
        cursor: pointer;
    }


/* Iconography */
.icon-close {
    background-image: url("../images/icons/nav/close.svg");
    width: 20px;
    height: 20px;
}

.icon-prev {
    background-image: url("../images/icons/nav/prev.svg");
    width: 30px;
    height: 30px;
}

.icon-next {
    background-image: url("../images/icons/nav/next.svg");
    width: 30px;
    height: 30px;
}

@media (max-width: 767px) {
    .icon-prev,
    .icon-next {
        width: 20px;
        height: 20px;
    }

    .gallery-slides .prev,
    .gallery-slides .next {
        margin-top: -10px;
    }

    #modal-gallery .gallery-slides {
        padding: 0 10px;
    }
}

@media (max-width: 499px) {
    .gallery-slides .slide img {
        max-width: 85%;
    }
}