/* ------ HEADER / NAVIGATION ------ */
/* Universal Style */
.header-wrapper {
    padding-bottom: 25px;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
}
    .header {
        font-size: 50px;
        margin: 2.2% 4% 5px;

        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
        color: #4975e2;
    }

    .subheader {
        font-size: 20px;
        margin: 0 5.5% 2.5px;

        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .subheader a {
        color: black;
    }

    .subheader a:link {
        text-decoration: none;
    }

    .subheader a:hover, 
    .subheader a:active, 
    .subheader a.active {
        color: #4975e2;
        font-weight: 400;
    }

@media (min-width: 1400px) {
    .header {
        font-size: 55px;
    }

    .subheader {
        font-size: 25px;
    }
}


/* adjust for when the nav bar un-collapses */
@media (min-width: 768px) and (max-width: 849px) {
    .header-wrapper {
        padding-bottom: 50px;
    }

    .header {
        margin-top: 100px;
    }
}

@media (max-width: 767px) {
    .header {
        font-size: 35px;
        margin-top: 4.5%;
        margin-left: 6%;
    }

    .subheader {
        font-size: 20px;
        margin-left: 10%;
    }
}

@media (max-width: 424px) {
    .header-wrapper {
        padding-bottom: 18px;
    }

    .header {
        font-size: 32px;
        margin-top: 5.5%;
    }

    .subheader {
        font-size: 15px;
    }
}


/* ------ PORTFOLIO GRID ------ */
.section {
    padding-top: 200px;
    width: 100%;
}

.grid {
    width: 90%;
    max-width: 1500px;
    padding: 0 50px 100px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

    .grid .grid-square {
        display: inline-block;
        text-align: left;
        position: relative;
        width: 28%;
        margin: 20px;
    }

@media (min-width: 1400px) {
    .section {
        padding-top: 250px;
    }
}

@media (max-width: 1499px) {
    .grid {
        width: 95%;
    }

    .grid .grid-square {
        margin: 15px;
    }
}

@media (max-width: 849px) {
    .section {
        padding-top: 175px;
    }

    .grid {
        width: 90%;
        padding: 0 0 60px;
    }

    .grid .grid-square {
        width: 40%;
    }
}

/* adjust for when the nav bar un-collapses */
@media (min-width: 768px) and (max-width: 849px) {
    .section {
        padding-top: 260px;
    }
}

@media (max-width: 600px) {
    .section {
        padding-top: 170px;
    }

    .grid {
        width: 100%;
        padding: 0 0 30px;
    }

    .grid .grid-square {
        width: 75%;
        margin: 0 0 2.8em;
    }
}

@media (max-width: 424px) {
    .section {
        padding-top: 135px;
    }
}



/* ------ GRID SQUARE CONTENTS ------ */
.grid-square figure {
    position: relative;
    border: 7px solid #252f47;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

.grid-square figure:hover {
    cursor: pointer;
}

    .grid-square figcaption {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        height: 100px;
        width: 100%;
        padding: 15px 20px;

        opacity: 0;
        background: #252f47;
        color: #4975e2;
        font-family: 'Raleway', sans-serif;
        text-align: center;

        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition: transform 0.4s, opacity 0.1s 0.3s;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .grid-square figure:hover figcaption {
        opacity: 1;
        transform: translateY(0px);
        transition: transform 0.4s, opacity 0.1s;
    }

        .grid-square figcaption h3 {
            font-size: 18px;
            margin: 0 0 5px;
            color: white;
            line-height: 1.2em;
        }

        .grid-square figcaption span {
            font-size: 15px;
        }

    .grid-square figure img {
        width: calc(100% + 1.2px);
        height: calc(100% + 1.2px);
        display: block;
        position: relative;
        transition: transform 0.4s;
    }

    .grid-square figure:hover img {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }



/* ------ UNDER CONSTRUCTION MODAL ------ */
#construction-modal {
    display: flex;
}
    #construction-modal .modal-dialog {
        margin: auto;
    }

    #construction-modal .modal-content {
        border: none;
        border-radius: 3px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }

    #construction-modal .modal-body {
        padding-bottom: 20px;
    }

    #construction-modal .modal-content h2 {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        color: #4975e2;
        margin-bottom: 0;
        margin-top: 10px;
    }

    #construction-modal .modal-content p {
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
