.page {
    min-height: 100vh;
    width: 100vw;
}

.center-flex-container {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.center-flex-item {
    margin: auto;
}


/* ------ HEADER / NAVIGATION ------ */
#header-wrapper {
    position: fixed;
    width: 100vw;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}
    .header {
        margin-top: 30px;
        margin-bottom: 5px;
        margin-left: 35px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 50px;
        color: #4975e2;
    }

    .subheader {
        margin-top: 0px;
        margin-bottom: 2.5px;
        margin-left: 45px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 20px;
    }

    .subheader a {
        color: black;

    }

    .subheader a:link {
        text-decoration: none;
    }

    .subheader a:hover, .subheader a:active, .subheader a.active {
        color: #4975e2;
        font-weight: 400;
    }


/* ------ DESIGN / ART SECTIONS ------ */
#graphic-design {
    background: white;
    padding-top: 15%;
    padding-bottom: 15%;
}

#art {
    background: white;
    padding-top: 15%;
}

.icons {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

    .icons .row {
        width: 100%;
    }

.icon {
    padding: 20px;
}

    .icon .square {
        width: 100%;
        padding-bottom: 100%;
        background-color: gray;
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    .icon .square .icon-overlay {
        /*background-color: rgba(255, 255, 255, 0.4);*/
        position: absolute;
        width: 100%;
        height: 100%;
        border: 5px solid #9fa0a5;
    }


/* ------ SOFTWARE DEV SECTION ------ */
#software-development {
    background: white;
}

#sd-projects-wrapper {
    padding-top: 7%;
    padding-left: 13%;
    padding-right: 13%;
}

    #sd-projects-wrapper .sd-left-col {
        padding-right: 5%;
    }

    #sd-projects-wrapper .sd-right-col {
        padding-left: 5%;
    }

    #sd-projects-wrapper .sd-project {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .sd-project .sd-project-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        color: #9fa0a5;
    }

    .sd-project .sd-description {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: -0.5px;
    }


/* ------ ICON IMAGES ------ */
.icon #fish { background-image: url("../images/art/icons/fish.jpg"); }
.icon #half-dome { background-image: url("../images/art/icons/half-dome.jpg"); }
.icon #self-portrait { background-image: url("../images/art/icons/self-portrait.jpg"); }
.icon #bust { background-image: url("../images/art/icons/bust.jpg"); }
.icon #dogs { background-image: url("../images/art/icons/dogs.jpg"); }
.icon #drifting { background-image: url("../images/art/icons/drifting.jpg"); }
.icon #penguins { background-image: url("../images/art/icons/penguins.jpg"); }
.icon #tree { background-image: url("../images/art/icons/tree.jpg"); }



