/* ------ HEADER OVERRIDES ------ */
@media (max-width: 500px) {
    .header h1 {
        font-size: 26px;
        line-height: 32px;
    }
}

@media (max-width: 375px) {
    .header h1 {
        font-size: 24px;
        line-height: 30px;
    }
}

/* ------ BODY ------ */
.me-img {
    width: 100%;
}

#about-content {
    padding: 80px 0;
}

.section {
    margin: auto 10%;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}

.section:last-child {
    padding-bottom: 0px;
}

@media (max-width: 375px) {
    .section {
        margin: auto 3%;
    }
}

.section-title h4 {
    margin-top: 5px;
    margin-bottom: 18px;
    font-weight: 500;
}

.section-body h5 {
    margin-top: 4px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-weight: 500;
    color: #4975e2;
}

.section-body p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 25px;
}


a.resume {
    display: inline-block;
    border: 2px solid #4975e2;
    border-radius: 3px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
}

    .resume span {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #4975e2;
        vertical-align: middle;
    }

    .resume .glyphicon-arrow-right {
        margin-left: 5px;
    }

    a.resume:hover {
        background-color: #4975e2;
    }

    a.resume:hover span {
        color: white;
        display: inline;
    }


/* Responsive Design Overrides */
@media (max-width: 960px) {
    #about-content {
        padding: 70px 0;
    }

    .section {
        padding-bottom: 30px;
    }

        .section-title h4 {
            font-size: 17px;
        }

        .section-body h5 {
            font-size: 14px;
        }

        .section-body p {
            font-size: 16px;
            line-height: 24px;
        }

    .resume span {
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    #about-content {
        padding: 60px 0;
    }

    .section {
        padding-bottom: 20px;
    }

        .section-title h4 {
            margin-top: 3px;
            margin-bottom: 16px;
            font-size: 16px;
        }

        .section-body h5 {
            font-size: 13px;
        }

        .section-body p {
            font-size: 15px;
            line-height: 22px;
        }

    a.resume {
        padding: 5px 12px;
    }

    .resume span {
        font-size: 14px;
    }
}
