#about {
  width: 100%;
  min-height: 100vh;
  background: #fafafa;
}

/* ---------- DEFAULT STYLE ---------- */
.about-body .about-p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
    text-align: left;
    margin-bottom: 15px;
}

    .about-body .about-p a {
        color: #4975e2;
    }

    .about-body .about-p a:hover {
        text-decoration: none;
        color: #2454c9;
        border-bottom: 2px solid #4975e2;
        cursor: pointer;
    }

#about-content h3 {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 10px 0;
}

#about-content .connect h3 {
    margin-bottom: 5px;
}


/* ---------- LANDSCAPE ORIENTATION ---------- */
@media (orientation: landscape) {
    img.me-portrait {
        display: none;
    }

    img.me-landscape {
        display: block;
    }

    .center-flex-container {
        display: -webkit-flex;
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .center-flex-item {
        margin: auto;
    }

    .text-flex-container {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .text-flex-item {
        width: 100%;
    }

    #about-content img {
        max-width: 45%;
        padding-right: 5%;
        margin-right: 3%;
        float: left;
    }

    .about-body p {
        font-size: 1.1vw;
    }
}

@media (min-width: 1650px) and (orientation: landscape) {
    #about-content {
        padding-left: 25%;
        padding-right: 25%;
    }
  
    .about-body p {
        font-size: 18px;
    }
}

@media (min-width: 1400px) and (orientation: landscape) {
    #about-content {
        padding-left: 23%;
        padding-right: 23%;
    }

    .about-body p {
        font-size: 0.98vw;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) and (orientation: landscape) {
    #about-content {
        padding-left: 22%;
        padding-right: 22%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
    #about-content {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    #about-content {
        padding-left: 8%;
        padding-right: 8%;
    }

    .about-body p {
        font-size: 1.7vw;
    }
}


/* ---------- PORTRAIT ORIENTATION ---------- */
@media (orientation: portrait) {
    img.me-portrait {
        display: block;
        margin: 0;
        width: 100%;
    }

    img.me-landscape {
        display: none;
    }

    .about-body .about-p {
        text-align: left;
    }

    .about-body {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    #about-content {
        padding: 10% 10% 15%;
    }
    
    .about-body .about-p {
        font-size: 2.5vw;
    }
}

/* image and text become column format rather than row */
@media (max-width: 767px) and (orientation: portrait) {
    #about-content {
        padding: 7% 5%;
    }

    .about-body .about-p {
        font-size: 3.6vw;
    }
}
