.page-content {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.content-left {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: #494440;
    display: flex;
}

    .content-left img {
        width: 80%;
        margin: auto;
    }

.project-nav {
    text-align: right;
    display: block;
}



.connect img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 5px;
}