.connect a,
.connect a:hover,
.connect a:visited,
.connect a:active {
    text-decoration: none;
}

.connect span {
    background-image: url("../images/icons/icons.svg");
    background-size: 60px 180px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

span.instagram {
    background-position: 0 0;
}

    span.instagram:hover {
        background-position: -30px 0px;
    }

span.facebook {
    background-position: 0 -30px;
}

    span.facebook:hover {
        background-position: -30px -30px;
    }

span.twitter {
    background-position: 0 -60px;
}

    span.twitter:hover {
        background-position: -30px -60px;
    }

span.website {
    background-position: 0 -90px;
}

    span.website:hover {
        background-position: -30px -90px;
    }

span.linkedin {
    background-position: 0px -120px;
}

    span.linkedin:hover {
        background-position: -30px -120px;
    }

span.email {
    background-position: 0px -150px;
}

    span.email:hover {
        background-position: -30px -150px;
    }