body {
    background-color: #f8f8f8 !important;
}

.content-right {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
    position: fixed;
    left: 60%;
    width: 40%;
    height: 100%;
    display: flex;
}

@media (orientation: portrait) {
    .content-right {
        display: block;
        left: 0;
        width: 100%;
        height: auto;
        padding: 100px 40px;
    }

    @media (max-width: 490px) {
        .content-right {
            padding: 60px 20px;
        }
    }
}


/* ---------- PROJECT DESCRIPTION ---------- */
.description {
    margin: auto;
    padding: 0 50px;
}

    .description h1 {
        margin: 0 0 5px;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #4975e2;
    }

    .description h2 {
        margin: 0 0 20px;
        max-width: 95%;
        font-size: 18px;
        line-height: 24px;
        font-weight: 200;
        letter-spacing: 1px;
    }

    .description h3 {
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    .description p {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Raleway', sans-serif;
    }

    .description p.tag {
        color: #4975e2;
    }


@media (orientation: landscape) {
    @media (min-width: 1700px) {
        .description {
            padding: 0 75px;
        }
    }
    
    @media (max-width: 1150px) {
        .description {
            padding: 0 40px;
        }

        .description h1 {
            font-size: 21px;
            line-height: 26px;
        }

        .description h2 {
            margin-bottom: 0;
            font-size: 15px;
            line-height: 21px;
        }

        .description h3 {
            margin-top: 18px;
            font-size: 11px;
        }

        .description p {
            font-size: 13px;
            line-height: 19px;
        }
    }

    @media (max-width: 899px) {
        .description {
            padding: 0 35px;
        }

        .description h1 {
            margin-bottom: 3px;
            font-size: 19px;
            line-height: 22px;
        }

        .description h2 {
            max-width: 100%;
            font-size: 13px;
            line-height: 18px;
        }

        .description h3 {
            margin-top: 15px;
            margin-bottom: 4px;
            font-size: 9px;
        }

        .description p {
            margin-bottom: 8px;
            font-size: 11px;
            line-height: 17px;
        }
    }

    @media (max-width: 780px) {
        .description {
            padding: 0 25px;
        }

        .description h1 {
            font-size: 15px;
            line-height: 18px;
        }

        .description h2 {
            font-size: 11px;
            line-height: 15px;
            margin-bottom: 0;
        }

        .description h3 {
            margin-top: 12px;
            font-size: 8px;
        }

        .description p {
            font-size: 9.5px;
            line-height: 14px;
        }
    }
}

@media (orientation: portrait) {
    .description {
        max-width: 90%;
        padding: 0;
    }

    .description h1 {
        margin-bottom: 15px;
        font-size: 38px;
        line-height: 42px;
    }

    .description h2 {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 36px;
        max-width: 75%;
    }

    .description h3 {
        margin-top: 40px;
        font-size: 20px;
        line-height: 27px;
    }

    .description p {
        font-size: 22px;
        line-height: 32px;
    }

    @media (max-width: 699px) {
        .description {
            max-width: 95%;
        }

        .description h2 {
            max-width: 100%;
        }
    }

    @media (max-width: 599px) {
        .description h1 {
            margin-bottom: 10px;
            font-size: 30px;
            line-height: 38px;
        }

        .description h2 {
            font-size: 20px;
            line-height: 30px;
        }

        .description h3 {
            font-size: 16px;
            line-height: 22px;
        }

        .description p {
            font-size: 20px;
            line-height: 29px;
        }
    }

    @media (max-width: 490px) {
        .description {
            max-width: 100%;
            margin: 0 10px;
        }

        .description h1 {
            font-size: 24px;
            line-height: 32px;
        }

        .description h2 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 0;
        }

        .description h3 {
            font-size: 13px;
            line-height: 19px;
            margin-top: 24px;
        }

        .description p {
            font-size: 16px;
            line-height: 24px;
        }
    }

    @media (max-width: 380px) {
        .description h1 {
            margin-bottom: 5px;
            font-size: 20px;
            line-height: 28px;
        }

        .description h2 {
            font-size: 15px;
            line-height: 21px;
            margin-bottom: 0;
        }

        .description h3 {
            font-size: 11px;
            line-height: 17px;
            margin-top: 20px;
        }

        .description p {
            font-size: 13px;
            line-height: 20px;
        }
    }
}


/* ---------- PREV/NEXT PROJECT LINKS ---------- */
.project-nav {
    position: fixed;
    bottom: 0;
    width: inherit;
    padding: 20px 25px;
    z-index: 9000;
    display: flex;
    justify-content: space-between;
}

    .project-nav a {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #4975e2;
    }

        .project-nav a:hover {
            text-decoration: none;
            color: #2454c9;
            cursor: pointer;
        }


/* ---------- BACK TO PORTFOLIO LINK ---------- */
.back {
    width: 100%;
    position: fixed;
    padding: 20px 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #4975e2;
    z-index: 9000;
}

    .back:hover {
        text-decoration: none;
        color: #2454c9;
    }

    .back:visited {
        text-decoration: none;
    }

@media (orientation: landscape) {
    @media (min-width: 1700px) {
        .project-nav,
        .back {
            padding: 30px 40px;
        }
    }
    
    @media (max-width: 1150px) {
        .project-nav a,
        .back {
            font-size: 14px;
        }
    }

    @media (max-width: 899px) {
        .project-nav,
        .back {
            padding: 15px 20px;
        }

        .project-nav a,
        .back {
            font-size: 12px;
        }
    }

    @media (max-width: 780px) {
        .project-nav,
        .back {
            padding: 12px 18px;
        }

        .project-nav a,
        .back {
            font-size: 10px;
        }
    }
}

@media (orientation: portrait) {
    .back {
        position: absolute;
    }

    .project-nav {
        background-color: rgba(248, 248, 248, 0.8);
        left: 0;
    }

    @media (max-width: 599px) {
        .project-nav,
        .back {
            padding: 15px 20px;
        }
    }

    @media (max-width: 490px) {
        .page-content .back {
            height: 50px;
        }

        .project-nav .prev,
        .project-nav .next,
        .back {
            font-size: 13px;
        }
    }

    @media (max-width: 380px) {
        .page-content .back {
            height: 35px;
        }

        .project-nav,
        .back {
            padding: 10px 15px;
        }

        .project-nav .prev,
        .project-nav .next,
        .back {
            font-size: 11px;
        }
    }
}

