.page-content {
    width: 100%;
    position: relative;
}

.content-left {
    position: absolute;
    width: 60%;
    height: 100%;
    padding-top: 60px;
}

    .content-left img {
        width: 100%;
    }

    .content-left .border {
        border-bottom: 4px solid #f8f8f8;
    }

.top-bar {
    position: fixed;
    width: 60%;
    height: 60px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.magazine-spread .full-spread-portrait {
    display: none;
}

.magazine-spread .full-spread-landscape {
    display: block;
}

@media (orientation: portrait) {
    .page-content section {
        position: relative;
    }

    .content-left {
        width: 100%;
        padding: 0;
        padding-bottom: 60px;
    }

    .content-right {
        padding-top: 120px;
    }

    .top-bar {
        background-color: rgba(248, 248, 248, 0.8);
        top: 0;
        width: 100%;
    }

    .project-nav {
        background-color: rgba(248, 248, 248, 0.8);
    }

    .magazine-spread .full-spread-portrait {
        display: block;
        padding-top: 60px;
        width: 100%;
    }

    .magazine-spread .full-spread-landscape {
        display: none;
    }

    .magazine-spread .content-right {
        padding-top: 100px;
    }
}
