.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.link {
    color: #4975e2;
}

.link:hover {
    text-decoration: none;
    color: #2454c9;
    border-bottom: 2px solid #4975e2;
    cursor: pointer;
}

#page-content {
    font-family: 'Montserrat', sans-serif;
}

.img-wrapper {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

@media screen and (orientation: portrait) {
    .img-wrapper {
        height: 55vh;
    }
}

@media screen and (orientation: portrait) and (min-width: 375px) {
    .img-wrapper {
        height: 45vh;
    }
}


/* -------- BACK BUTTON -------- */
.back-bar {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 25px 35px;
}

    .back-bar a, .back-bar a:visited {
        text-decoration: none;
        color: white;
        font-size: 18px;
    }

    .back-bar a:hover {
        color: rgba(255,255,255,0.6);
    }

    .back-bar.black a, .back-bar.black a:visited {
        color: black;
    }

    .back-bar.black a:hover {
        color: rgba(0,0,0,0.6);
    }

@media(max-width: 375px) {
    .back-bar {
        padding: 12px 18px;
    }
    .back-bar a {
        font-size: 16px;
    }
}


/* -------- BODY TEXT -------- */
.content-body {
    padding: 60px 0px;
    margin: auto 22%;
}

.section {
    margin-bottom: 30px;
}

.section:last-child {
    margin-bottom: 15px;
}
    .section h3 {
        line-height: 30px;
    }

    .section h4 {
        font-weight: 400;
        color: #777;
    }

    .section h6 {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #4975e2;
    }

    .section p {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        line-height: 24px;
    }


/* Responsive Overrides */
@media(max-width: 960px) {
    .content-body {
        margin: auto 18%;
    }
}
@media(max-width: 768px) {
    .content-body {
        margin: auto 12%;
    }
}

@media(max-width: 500px) {
    .content-body {
        margin: auto 10%;
        padding: 25px 0px;
    }

    .section {
        margin-bottom: 25px;
    }

    .section h3 {
        font-size: 19px;
        line-height: 20px;
    }

    .section h4 {
        font-size: 16px;
    }

    .section h6 {
        font-size: 12.5px;
    }

    .section p {
        font-size: 15px;
        line-height: 22px;
    }
}

@media(max-width: 375px) {
    .content-body {
        margin: auto 8%;
        padding: 15px 0px;
    }

    .section {
        margin-bottom: 20px;
    }

    .section h3 {
        font-size: 18px;
        line-height: 20px;
    }

    .section h4 {
        font-size: 15px;
    }

    .section h6 {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .section p {
        font-size: 14px;
        line-height: 20px;
    }
}

/* -------- VIEW BUTTON -------- */
a.view {
    display: inline-block;
    border: 2px solid #4975e2;
    border-radius: 3px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
}

    .view span {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #4975e2;
        vertical-align: middle;
    }

    .view .glyphicon-arrow-right {
        margin-left: 5px;
    }

    a.view:hover {
        background-color: #4975e2;
    }

    a.view:hover span {
        color: white;
        display: inline;
    }

@media (max-width: 960px) {
    .view span {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    a.view {
        padding: 5px 12px;
    }

    .view span {
        font-size: 14px;
    }
}


/* -------- MOCKUP IMAGES -------- */
.img-wrapper.ttl {
    background-image: url('../images/mockups/ttl-mockup.jpg');
}
.img-wrapper.unravelcreative {
    background-image: url('../images/mockups/unravel-mockup.jpg');
}
.img-wrapper.kgsbagelchips {
    background-image: url('../images/mockups/kgsbagelchips-mockup.jpg');
}
.img-wrapper.wnywomenowned {
    background-image: url('../images/mockups/wnywomenowned-mockup.jpg');
}
.img-wrapper.brotherhoodvotes {
    background-image: url('../images/mockups/brotherhoodvotes-mockup.jpg');
}
.img-wrapper.aerialist {
    background-image: url('../images/mockups/aerialist-mockup.jpg');
}
.img-wrapper.statslete {
    background-image: url('../images/mockups/statslete-mockup.jpg');
}
.img-wrapper.trackit {
    background-image: url('../images/mockups/trackit-mockup.jpg');
}
.img-wrapper.biogas {
    background-image: url('../images/mockups/biogas-mockup.jpg');
}
.img-wrapper.bmes {
    background-image: url('../images/mockups/bmes-mockup.jpg');
}
.img-wrapper.gratitude {
    background-image: url('../images/mockups/gratitude-mockup.jpg');
}
.img-wrapper.alphabet {
    background-image: url('../images/mockups/alphabet-mockup.jpg');
}
.img-wrapper.onsuccess {
    background-image: url('../images/mockups/on-success-mockup.jpg');
}
.img-wrapper.startover {
    background-image: url('../images/mockups/startover-mockup.jpg');
}



