{% extends "page-layout.nunjucks" %}

{% block title -%}
    <title>Hannah Qin | about</title>
{% endblock %}
{% block css -%}
    <link rel="stylesheet" href="static/css/about.css">
{% endblock %}
{% block fonts -%}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:400,500" rel="stylesheet">
{% endblock %}

{% block hiddenmenu -%}
    {{- hiddenMenu.active('about') }}
    <!-- fixed elements - manually translated -->
    <div class="fixed-elements">
        <img class="burger" src="static/images/icons/burger.svg" />
    </div>
{% endblock %}

{% block content -%} 
        {{- navbar.active('about') }}
        <div id="about" class="top-section">
            <div class="header-wrapper">
                <div class="header">
                    <h1>Hi, my name is Hannah</h1>
                    <h3>I'm passionate about Diversity, Equity, &amp; Inclusion in tech, good UX design, and training aerial silks</h3>
                </div>
            </div>
        </div>

        <img class="me-img" src="static/images/about.jpg" alt="Image of Me">

        <div id="about-content">
            <div class="row section">
                <div class="section-title col-sm-3">
                    <h4>ABOUT ME</h4>
                </div>
                <div class="section-body col-sm-9">
                    <p>
                        I'm currently a Program Manager at Microsoft delivering first-class user experiences across our Azure data services. Previously, I spent a year teaching English as a foreign language at three primary schools in the greater Paris region through a program called <a href="http://frenchhighereducation.org/teaching-assistant-program" target="_blank">TAPIF</a>.
                    </p>
                    <p>
                        Before that, I worked at the Diversity, Equity, and Inclusion program in the UMich School of Public Health; freelanced as a web designer and photographer; and studied Computer Science and French at the University of Michigan.
                    </p>
                    <p>
                        These days, you can find me rediscovering my love for oil painting and training <a href="https://en.wikipedia.org/wiki/Aerial_silk" target="_blank">aerial silks</a> in a mask.
                    </p>
                </div>
            </div>
            <div class="row section">
                <div class="section-title col-sm-3">
                    <h4>SKILLS</h4>
                </div>
                <div class="section-body col-sm-9">
                    <div class="row skills align-items-start">
                        <div class="col-sm-4">
                            <h5>DESIGN SOFTWARE</h5>
                            <p>Figma<br>Sketch<br>Adobe Illustrator<br>Adobe Photoshop<br>Adobe InDesign<br>ProCreate</p>
                        </div>
                        <div class="col-sm-4">
                            <h5>PROGRAMMING</h5>
                            <p>Python<br>C++<br>AngularJS<br>JavaScript/jQuery<br>HTML/CSS<br>SQL</p>
                        </div>
                        <div class="col-sm-4">
                            <h5>LINGUISTIC SKILLS</h5>
                            <p>French<br>Chinese (Mandarin)</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row section">
                <div class="section-title col-sm-3">
                    <h4>RESUME</h4>
                </div>
                <div class="section-body col-sm-9">
                    <a class="resume noselect" href="static/files/HannahQin_Resume.pdf" target="_blank">
                        <span class="resume-label">View My Resume</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </a>
                </div>
            </div> -->
        </div>
{% endblock %}
{%- block js -%}
        <script src="static/js/about.js"></script>
{% endblock %}