{% extends "page-layout.nunjucks" %}

{% block title -%}
    <title>Hannah Qin | about</title>
{% endblock %}
{% block css -%}
    <link rel="stylesheet" href="static/css/about.css">
{% endblock %}
{% block fonts -%}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:400,500" rel="stylesheet">
{% endblock %}

{% block hiddenmenu -%}
    {{- hiddenMenu.active('about') }}
    <!-- fixed elements - manually translated -->
    <div class="fixed-elements">
        <img class="burger" src="static/images/icons/burger.svg" />
    </div>
{% endblock %}

{% block content -%} 
        {{- navbar.active('about') }}
        <div id="about" class="top-section">
            <div class="header-wrapper">
                <div class="header">
                    <h1>Hi, my name is Hannah.</h1>
                    <h3>I am a proud woman in STEM who is passionate about Diversity &amp; Inclusion, traveling, photography, and design.</h3>
                </div>
            </div>
        </div>

        <img class="me-img" src="static/images/about.jpg" alt="Image of Me">

        <div id="about-content">
            <div class="row section">
                <div class="section-title col-sm-3">
                    <h4>ABOUT ME</h4>
                </div>
                <div class="section-body col-sm-9">
                    <p>This past April, I graduated from the University of Michigan with a B.S. in Computer Science and a minor in French.</p>
                    <p>During the 2018-2019 academic year, I will be working as an English Teaching Assistant in a primary school in the greater Paris area through a program called <a href="http://frenchhighereducation.org/teaching-assistant-program" target="_blank">TAPIF</a>. I am currently searching for remote work opportunities during that time to maintain my technical skills and earn some extra money on the side.</p>
                    <p>Last summer, I worked at <a href="https://www.roblox.com" target="_blank">Roblox</a> as a Web Engineering Intern on the Avatar team. I implemented a redesigned splash page for Roblox Studio, which you can check out <a href="https://www.roblox.com/create" target="_blank">here</a>. At school, I was the Vice President of <a href="https://hkn.eecs.umich.edu" target="_blank">Eta Kappa Nu - Beta Epsilon</a>, the U-M chapter of the EECS honor society. I was also a designer for <a href="https://www.mentalitymagazine.org" target="_blank">Mentality Magazine</a>, and dabble in freelance design on the side.</p>
                </div>
            </div>
            <div class="row section">
                <div class="section-title col-sm-3">
                    <h4>SKILLS</h4>
                </div>
                <div class="section-body col-sm-9">
                    <div class="row skills align-items-start">
                        <div class="col-sm-4">
                            <h5>DESIGN SOFTWARE</h5>
                            <p>Sketch<br>InVision<br>Adobe Illustrator<br>Adobe Photoshop<br>Adobe InDesign</p>
                        </div>
                        <div class="col-sm-4">
                            <h5>WEB DEV</h5>
                            <p>JavaScript/jQuery<br>AngularJS<br>HTML/CSS<br>Bootstrap</p>
                        </div>
                        <div class="col-sm-4">
                            <h5>PROGRAMMING</h5>
                            <p>Python<br>C++<br>C#<br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row section">
                <div class="section-title col-sm-3">
                    <h4>RESUME</h4>
                </div>
                <div class="section-body col-sm-9">
                    <a class="resume noselect" href="static/files/HannahQin_Resume.pdf" target="_blank">
                        <span class="resume-label">View My Resume</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}
{%- block js -%}
        <script src="static/js/about.js"></script>
{% endblock %}