{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper aerialist"></div>
        <div class="back-bar"><a href="javascript:history.back()">&#8592; Home</a></div>
        <div class="content-body">
            <div class="section">
                <h3>AeriaList (Mockup)</h3>
                <h4>October 2017</h4>
            </div>
            <div class="section">
                <h6>ABOUT AERIALIST</h6>
                <p>
                    AeriaList is a skills-tracking app for people who train aerial arts (aka aerialists). In the aerial world, some skills
                    are more intricate than others, but all skills require an acute understanding of the exact steps involved in order to
                    perform it safely. One of the challenges faced by aerialists of all levels is that it can be difficult to remember all
                    of the steps required for all of the skills they’ve learned. With AeriaList, aerialists can easily record these steps
                    alongside a reference photo or video in a personal glossary of skills.
                </p>
            </div>
            <div class="section">
                <h6>THE PROJECT</h6>
                <p>
                    AeriaList was designed as my final project in the Digital Product Design course at the University of Michigan.
                </p>
            </div>
            <div class="section">
                <a class="view noselect" href="https://invis.io/HVDOC9YW9" target="_blank">
                    <span class="view-label">View the mockup</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </div>
    {%- endblock %}