{% extends "portfolio-layout.nunjucks" %}
    {% block img -%}
        <div class="img-wrapper aerialist"></div>
    {%- endblock %}
    {% block content -%}
            <div class="section">
                <h3>AeriaList: An iOS App Prototype</h3>
                <h4>ENTR 390.012 (Digital Product Design Studio) Project</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE APPLICATION</h6>
                <p>AeriaList is a user-populated digital glossary of aerial silks skills in the form of a mobile app. It is designed for people who are learning aerial silks to keep track of the steps involved in completing each skill they learn so they can easily recall how to perform complex moves. If you are unfamiliar with aerial silks, it is a circus art performance you might have seen in Cirque du Soleil where artists perform aerial acrobatics while hanging from a fabric.</p>
            </div>
            <div class="section">
                <h6>THE DESIGN PROCESS</h6>
                <p>The final prototype you can view below is the result of many, many iterations of the product. If you are interested in learning about the decision-making process that led me to my final product, I encourage you to check out <a class="link" href="https://medium.com/@hannahlucyqin/aerialist-a-digital-glossary-of-skills-3dd6b9bad2c6" target="_blank">this Medium post</a> I wrote that describes the process in detail.</p>
            </div>
            <div class="section">
                <a class="view noselect" href="https://invis.io/HVDOC9YW9" target="_blank">
                    <span class="view-label">View the Prototype</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
    {%- endblock %}