{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper alphabet"></div>
        <div class="back-bar"><a href="javascript:history.back()">&#8592; Home</a></div>
        <div class="content-body">
            <div class="section">
                <h3>"The Alphabet of High Fashion" Poster</h3>
                <h4>SI 320 (Graphic Design) Project</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE PROJECT</h6>
                <p>For this project, we were presented with the challenge of designing a themed English Alphabet Poster using consistent visuals, colors, and typography. Each grid element had to be composed of a capital letter, a label, and an image, and only one typeface could be used for the design. We were expected to apply our knowledge of manuscript and modular grids in designing the layout of the poster.</p>
            </div>
        </div>
    {%- endblock %}