{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper biogas"></div>
        <div class="back-bar"><a href="javascript:history.back()">&#8592; Home</a></div>
        <div class="content-body">
            <div class="section">
                <h3>Biogas International Logo</h3>
                <h4>Fall 2016</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE ORGANIZATION</h6>
                <p>
                    Biogas International is part of BLUElab, a U-M student organization composed of twelve teams with one united goal: To
                    engineer technology that addresses issues of environmental sustainability and development. The Biogas International
                    Team specifically focuses on developing biogas technology to help restore the environment, improve health outcomes,
                    and achieve economic sustainability.
                </p>
                <p>
                    The team was looking for a logo and branding that set them apart from other indivdual BLUElab teams, while remaining
                    cohesive with the overarching identity of BLUElab.
                </p>
            </div>
            <div class="section">
                <h6>MY ROLE</h6>
                <p>Logo design, brand guidelines</p>
            </div>
        </div>
    {%- endblock %}