{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper bmes"></div>
        <div class="back-bar"><a href="javascript:history.back()">&#8592; Home</a></div>
        <div class="content-body">
            <div class="section">
                <h3>Biomedical Engineering Society Logo</h3>
                <h4>Logo Design</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE ORGANIZATION</h6>
                <p>BMES is a student organization comprised of biomedical engineering students interested in networking with industry, peers, faculty, and alumni. They offer a variety of industry and research panels, social opportunities, and hospital service opportunities. They hope to bring greater university recognition to the Biomedical Engineering Department while creating a sense of community among the department's students.
            </div>
            <div class="section">
                <h6>MY ROLE</h6>
                <p>Logo design and branding</p>
            </div>
        </div>
    {%- endblock %}