{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper brotherhoodvotes"></div>
        <div class="back-bar"><a href="javascript:history.back()">&#8592; Home</a></div>
        <div class="content-body">
            <div class="section">
                <h3>The Brotherhood Votes</h3>
                <h4>August 2020</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE WEBSITE</h6>
                <p>
                    The Brotherhood Votes is a Duke hoops-branded landing page for voter enablement. It was built in collaboration with
                    the Duke Men's Basketball Team (aka "The Brotherhood") ahead of the 2020 U.S. Presidential Election, with the goal of
                    leveraging the influence of the Duke hoops community to get out the vote. The website was organized, designed, and
                    developed in the span of 4 weeks, and launched alongside a call-to-action media campaign in September 2020.
                </p>
            </div>
            <div class="section">
                <h6>MY ROLE</h6>
                <p>
                    As the Product and Project manager of the group, I led a 6-person team on a 4-week sprint to design and build a
                    branded voter enablement website. With Election Day quickly approaching, I played a major role in our ability to
                    deliver an MVP as swiftly as possible by coordinating collaboration and setting timelines and priorities.
                </p>
            </div>
            <!-- <div class="section">
                <a class="view noselect" href="https://www.thebrotherhoodvotes.us/" target="_blank">
                    <span class="view-label">Visit the site</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div> -->
        </div>
    {%- endblock %}