{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper gratitude"></div>
        <div class="back-bar black"><a href="javascript:history.back()">&#8592; Home</a></div>
        <div class="content-body">
            <div class="section">
                <h3>Gratitude Poster</h3>
                <h4>September 2016</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE PROJECT</h6>
                <p>
                    This poster was designed as a part of the Graphic Design (SI 320) course at the University of Michigan. The assignment
                    assignment was to create a poster that combined a botanical illustration with the symbolic meaning of the plant – combining
                    quality isolation, effective use of balance and movement, and readable typography.
                </p>
            </div>
        </div>
    {%- endblock %}