{% extends "page-layout.nunjucks" %}

{% block title -%}
    <title>Hannah Qin</title>
{% endblock %}
{% block css -%}
    <link rel="stylesheet" href="static/css/index.css">
{% endblock %}
{% block fonts -%}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
{% endblock %}

{% block hiddenmenu -%}
    {{- hiddenMenu.active('home') }}
    <!-- fixed elements - manually translated -->
    <div class="fixed-elements">
        <img class="burger" src="static/images/icons/burger.svg" />
    </div>
{% endblock %}

{% block content -%} 
        {{- navbar.active('home') }}
        <div id="welcome" class="top-section">
            <div class="header-wrapper">
                <div class="header">
                    <h1>Hannah Qin</h1>
                    <h3>Designer, software developer, and photographer from Ann Arbor, MI</h3>
                </div>
            </div>
        </div>
        <div id="work" class="row">
            <div id="col1" class="col-sm-6">
                <div class="img-wrapper">
                    <img src="static/images/mockups/aerialist-mockup.jpg" alt="AeriaList Mobile App" />
                    <div class="proj-label noselect">
                        <h3>AeriaList</h3>
                        <h4>iOS Application Prototype</h4>
                        <h5><i>Details coming soon!</i></h5>
                    </div>
                </div>
                <a href="biogas.html"><div class="img-wrapper">
                    <img src="static/images/mockups/biogas-mockup.jpg" alt="Biogas International Logo" />
                    <div class="proj-label noselect">
                        <h3>Biogas International Logo</h3>
                        <h4>Logo Design</h4>
                    </div>
                </div></a>
                <a href="gratitude.html"><div class="img-wrapper">
                    <img src="static/images/mockups/gratitude-mockup.jpg" alt="Gratitude Poster" />
                    <div class="proj-label noselect">
                        <h3>Gratitude Poster</h3>
                        <h4>Graphic Design Project</h4>
                    </div>
                </div></a>
                <a href="onsuccess.html"><div class="img-wrapper">
                    <img src="static/images/mockups/on-success-mockup.jpg" alt="'On Success' Magazine Spread" />
                    <div class="proj-label noselect">
                        <h3>"On Success"</h3>
                        <h4>Magazine Spread</h4>
                    </div>
                </div></a>
            </div><div id="col2" class="col-sm-6">
                <div class="img-wrapper">
                    <img src="static/images/mockups/chores-mockup.jpg" alt="HouseKeeper Mobile App" />
                    <div class="proj-label noselect">
                        <h3>HouseKeeper</h3>
                        <h4>iOS Application Prototype</h4>
                        <h5><i>Details coming soon!</i></h5>
                    </div>
                </div>
                <a href="bmes.html"><div class="img-wrapper">
                    <img src="static/images/mockups/bmes-mockup.jpg" alt="BMES Logo" />
                    <div class="proj-label noselect">
                        <h3>BMES Logo</h3>
                        <h4>Logo Design</h4>
                    </div>
                </div></a>
                <a href="alphabet.html"><div class="img-wrapper">
                    <img src="static/images/mockups/alphabet-mockup.jpg" alt="Alphabet Poster" />
                    <div class="proj-label noselect">
                        <h3>Alphabet of High Fashion</h3>
                        <h4>Graphic Design Project</h4>
                    </div>
                </div></a>
                <a href="startover.html"><div class="img-wrapper">
                    <img src="static/images/mockups/startover-mockup.jpg" alt="'If I Could Start Over' Magazine Spread" />
                    <div class="proj-label noselect">
                        <h3>"If I Could Start Over"</h3>
                        <h4>Magazine Spread</h4>
                    </div>
                </div></a>
            </div>
        </div>
{% endblock %}
{%- block js -%}
        <script src="static/js/index.js"></script>
{% endblock %}