{% extends "page-layout.nunjucks" %}

{% block title -%}
    <title>Hannah Qin</title>
{% endblock %}
{% block css -%}
    <link rel="stylesheet" href="static/css/index.css">
{% endblock %}
{% block fonts -%}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
{% endblock %}

{% block hiddenmenu -%}
    {{- hiddenMenu.active('home') }}
    <!-- fixed elements - manually translated -->
    <div class="fixed-elements">
        <img class="burger" src="static/images/icons/burger.svg" />
    </div>
{% endblock %}

{% block content -%} 
        {{- navbar.active('home') }}
        <div id="welcome" class="top-section">
            <div class="header-wrapper">
                <div class="header">
                    <h1>Hannah Qin</h1>
                    <h3>Designer based in New York, NY</h3>
                </div>
            </div>
        </div>
        <div id="work" class="row">
            <div id="col1" class="col-sm-6">
                <a href="tracktranslegislation.html"><div class="img-wrapper">
                    <img src="static/images/mockups/ttl-mockup.jpg" alt="TrackTransLegislation Website Mockup" />
                    <div class="proj-label noselect">
                        <h3>Track Trans Legislation</h3>
                        <h4>Legislative Tracking Site</h4>
                    </div>
                </div></a>
                <a href="kgsbagelchips.html"><div class="img-wrapper">
                    <img src="static/images/mockups/kgsbagelchips-mockup.jpg" alt="KG's Bagel Chips Website Mockup" />
                    <div class="proj-label noselect">
                        <h3>KG's Bagel Chips</h3>
                        <h4>E-Commerce Site</h4>
                    </div>
                </div></a>
                <a href="brotherhoodvotes.html"><div class="img-wrapper">
                    <img src="static/images/mockups/brotherhoodvotes-mockup.jpg" alt="The Brotherhood Votes - website screenshot" />
                    <div class="proj-label noselect">
                        <h3>The Brotherhood Votes</h3>
                        <h4>Voter Enablement Site</h4>
                    </div>
                </div></a>
                <a href="biogas.html"><div class="img-wrapper">
                    <img src="static/images/mockups/biogas-mockup.jpg" alt="Biogas International Logo" />
                    <div class="proj-label noselect">
                        <h3>Biogas International</h3>
                        <h4>Logo Design</h4>
                    </div>
                </div></a>
                <a href="gratitude.html"><div class="img-wrapper">
                    <img src="static/images/mockups/gratitude-mockup.jpg" alt="Gratitude Poster" />
                    <div class="proj-label noselect">
                        <h3>"Gratitude" Poster</h3>
                        <h4>Class Project</h4>
                    </div>
                </div></a>
                <a href="onsuccess.html"><div class="img-wrapper">
                    <img src="static/images/mockups/on-success-mockup.jpg" alt="'On Success' Magazine Spread" />
                    <div class="proj-label noselect">
                        <h3>"On Success"</h3>
                        <h4>Magazine Spread</h4>
                    </div>
                </div></a>
            </div><div id="col2" class="col-sm-6">
                <a href="unravel.html"><div class="img-wrapper">
                    <img src="static/images/mockups/unravel-mockup.jpg" alt="Unravel Creative Website Mockup" />
                    <div class="proj-label noselect">
                        <h3>Unravel Creative</h3>
                        <h4>Handcrafted Accessory Shop</h4>
                    </div>
                </div></a>
                <a href="wnywomenowned.html"><div class="img-wrapper">
                    <img src="static/images/mockups/wnywomenowned-mockup.jpg" alt="WNY Women Owned Business Directory Mockup" />
                    <div class="proj-label noselect">
                        <h3>WNY Women-Owned Business Directory</h3>
                        <h4>Web Tool</h4>
                    </div>
                </div></a>
                <a href="aerialist.html"><div class="img-wrapper">
                    <img src="static/images/mockups/aerialist-mockup.jpg" alt="AeriaList Mobile App Mockup" />
                    <div class="proj-label noselect">
                        <h3>AeriaList (Mockup)</h3>
                        <h4>iOS App</h4>
                    </div>
                </div></a>
                <!-- <a href="trackit.html"><div class="img-wrapper">
                    <img src="static/images/mockups/trackit-mockup.jpg" alt="AeriaList Mobile App" />
                    <div class="proj-label noselect">
                        <h3>trackit</h3>
                        <h4>Web App</h4>
                    </div>
                </div></a> -->
                <a href="bmes.html"><div class="img-wrapper">
                    <img src="static/images/mockups/bmes-mockup.jpg" alt="BMES Logo" />
                    <div class="proj-label noselect">
                        <h3>BMES</h3>
                        <h4>Logo Design</h4>
                    </div>
                </div></a>
                <a href="alphabet.html"><div class="img-wrapper">
                    <img src="static/images/mockups/alphabet-mockup.jpg" alt="Alphabet Poster" />
                    <div class="proj-label noselect">
                        <h3>"Alphabet of High Fashion Poster"</h3>
                        <h4>Class Project</h4>
                    </div>
                </div></a>
                <a href="startover.html"><div class="img-wrapper">
                    <img src="static/images/mockups/startover-mockup.jpg" alt="'If I Could Start Over' Magazine Spread" />
                    <div class="proj-label noselect">
                        <h3>"If I Could Start Over"</h3>
                        <h4>Magazine Spread</h4>
                    </div>
                </div></a>
            </div>
        </div>
{% endblock %}
{%- block js -%}
        <script src="static/js/index.js"></script>
{% endblock %}