{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper kgsbagelchips"></div>
        <div class="back-bar black"><b><a href="javascript:history.back()">&#8592; Home</a></b></div>
        <div class="content-body">
            <div class="section">
                <h3>KG's Bagel Chips</h3>
                <h4>May 2021</h4>
            </div>
            <div class="section">
                <h6>THE PROJECT</h6>
                <p>
                    As a volunteer at <a href="https://startsmallthinkbig.org" target="_blank">Start Small Think Big</a>,
                    I advised small, low-income businesses on web solutions to help grow their market access. KG's Bagel
                    Chips was one of my clients; I worked with them to design a custom e-commerce site tailored to their 
                    business needs and aligned with their brand vision.
                </p>
            </div>
            <div class="section">
                <h6>ABOUT KG'S BAGEL CHIPS</h6>
                <p>
                    KG's Bagel Chips is a Brooklyn-owned small business selling delicious chips made from New York bagels.
                    By using bagels that can no longer be sold past their one-day shelf life, KG's Bagel Chips brings you 
                    that famous New York bagel taste while making a positive impact on the NYC food system and environment.
                </p>
            </div>
            <div class="section">
                <h6>MY ROLE</h6>
                <p>Consultant, UX designer, developer</p>
            </div>
            <div class="section">
                <a class="view noselect" href="https://www.kgsbagelchips.com/" target="_blank">
                    <span class="view-label">Visit the site</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </div>
    {%- endblock %}