{% extends "portfolio-layout.nunjucks" %}
    {% block img -%}
        <div class="img-wrapper onsuccess"></div>
    {%- endblock %}
    {% block content -%}
            <div class="section">
                <h3>"On Success"</h3>
                <h4>Issue 3, Mentality Magazine</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE MAGAZINE</h6>
                <p>Mentality Magazine is a new publication at the University of Michigan dedicated to discussing mental health. By providing a platform where students can openly share their experiences with mental health and distributing copies of our magazine for free online and across campus, we hope to educate the Michigan community about mental health and combat the stigmas associated with it.</p>
            </div>
            <div class="section">
                <h6>MY ROLE</h6>
                <p>Magazine Spread Designer</p>
            </div>
    {%- endblock %}