{% extends "page-layout.nunjucks" %}


{% block title %}
    <title>Hannah Qin | portfolio</title>
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="static/css/portfolio.css">
    <link rel="stylesheet" href="static/css/image-gallery.css">
{% endblock %}


{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
{% endblock %}


{% block content %}
    <!-- hidden navigation for mobile -->
    {{hiddenMenu.active('portfolio')}}
    
    <!-- fixed elements - manually translated -->
    <div class="fixed-elements">
        <!-- navigation -->
        {{navbar.active('portfolio')}}

        <!-- fixed header -->
        <div class="header-wrapper">
            <div class="width-wrapper">
                <h1 class="header">PORTFOLIO</h1>
                <h2 class="subheader">
                    <a href="#" class="design active">
                        + GRAPHIC DESIGN
                    </a>
                </h2>
                <h2 class="subheader">
                    <a href="#" class="art">
                        + DRAWING &amp; PAINTING
                    </a>
                </h2>
            </div>
        </div>

        <!-- burger menu button -->
        <img class="burger" src="static/images/icons/burger.svg" />
    </div>

    <!-- main page content -->
    <main id="page-content">
        <!-- design portfolio -->
        <div id="graphic-design" class="section">
            <ul class="grid">
                {% for image in designImages %}
                    <li class="grid-square">
                        <a href="{{image.link}}">
                            <figure>
                                <img src="{{image.thumbnail}}" alt="{{image.alt}}">
                                <figcaption>
                                    <h3>{{image.title}}</h3>
                                    <span>{{image.description}}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- art portfolio -->
        <div id="art" class="section">
            <ul class="grid">
                {% for image in artImages %}
                    <li class="grid-square">
                        <figure onclick="openModal(); showSlide({{image.index}})">
                            <img src="{{image.thumbnail}}" alt="{{image.title}}">
                            <figcaption>
                                <h3>{{image.title}}</h3>
                                <span>{{image.description}}</span>
                            </figcaption>
                        </figure>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>

    <!-- IMAGE MODAL GALLERY -->
    <div id="modal-gallery" class="modal">
        <span class="close-button icon-close" onclick="closeModal()"></span>
        <div class="gallery-slides">
            {% for image in artImages %}
                <div class="slide">
                    <img src="{{image.fullSize}}">
                    <a class="prev icon-prev" onclick="prevSlide()"></a>
                    <a class="next icon-next" onclick="nextSlide()"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="static/js/plugins/jquery-ui.min.js"></script>
    <script src="static/js/portfolio.js"></script>
    <script src="static/js/image-gallery.js"></script>
{% endblock %}
