{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper startover"></div>
        <div class="back-bar black"><a href="javascript:history.back()">&#8592; Home</a></div>
        <div class="content-body">
            <div class="section">
                <h3>"If I Could Start Over" – Mentality Magazine</h3>
                <h4>Fall 2016</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE DESIGN</h6>
                <p>
                    I designed this spread for Mentality Magazine, a student publication at the University of Michigan 
                    dedicated to discussing mental health. By providing a platform where students could openly share their 
                    experiences with mental health, we hoped to educate the campus community about mental health and combat
                    the stigmas associated with it.
                </p>
            </div>
        </div>
    {%- endblock %}