{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper statslete"></div>
        <div class="back-bar black"><b><a href="javascript:history.back()">&#8592; Home</a></b></div>
        <div class="content-body">
            <div class="section">
                <h3>Statslete</h3>
                <h4>Google Chrome Extension</h4>
            </div>
            <div class="section">
                <h6>ABOUT STATSLETE</h6>
                <p>Statslete is for fantasy sports fans who want easy-access to athletes’ stats. Statslete quickly provides detailed fantasy information about athletes whose names appear on your current web page - making it painless to keep up with fantasy sports.</p>
            </div>
            <div class="section">
                <h6>THE PROJECT</h6>
                <p>Statslete was a Senior Capstone project developed by Tom Sandell, Gautam Visveswaran, and me during our last semester of undergrad. Over the course of a semester in our capstone course (EECS 441: App Development for Entrepreneurs), we were challenged with conceiving, designing, developing, and marketing an application from start to finish.</p>
            </div>
            <div class="section">
                <h6>MY ROLE</h6>
                <p>Branding, UI/UX designer, developer</p>
            </div>
            <div class="section">
                <a class="view noselect" href="https://chrome.google.com/webstore/detail/statslete/pefdalapbihodaphaffejfjldpphepfc?hl=en" target="_blank">
                    <span class="view-label">View in Chrome Store</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </div>
    {%- endblock %}