{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper trackit"></div>
        <div class="back-bar"><a href="javascript:history.back()">&#8592; Home</a></div>
        <div class="content-body">
            <div class="section">
                <h3>trackit</h3>
                <h4>Web app</h4>
            </div>
            <div class="section">
                <h6>ABOUT TRACKIT</h6>
                <p>Trackit is an easily digestible way for CS-LSA majors at the University of Michigan to view their progress towards graduation and plan out their class schedules accordingly. With an overview of your unfulfilled requirements, a detailed display delineating completed and in-progress requirements, and an interactive schedule planner, staying on track for graduation has never been easier.</p>
            </div>
            <div class="section">
                <h6>THE PROJECT</h6>
                <p>I developed trackit in a team of four as our final project in EECS 493 (User Interfaces). We were given a month and a half to develop a web-based UI product from ideation to implementation. The process included storyboarding, creating a working prototype, conducting user research, iterating, and demonstrating our final product.</p>
            </div>
            <div class="section">
                <h6>ROLE</h6>
                <p>Project manager, UI/UX designer, and the primary developer of the schedule planner</p>
            </div>
            <div class="section">
                <h6>LANGUAGES</h6>
                <p>HTML, CSS, JavaScript, JQuery, AngularJS</p>
            </div>
            <div class="section">
                <a class="view noselect" href="trackit/trackit.html" target="_blank">
                    <span class="view-label">Learn More</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </div>
    {%- endblock %}