{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper ttl"></div>
        <div class="back-bar white"><b><a href="javascript:history.back()">&#8592; Home</a></b></div>
        <div class="content-body">
            <div class="section">
                <h3>Track Trans Legislation</h3>
                <h4>April 2021 - present</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE WEBSITE</h6>
                <p>
                    Track Trans Legislation was built in response to the alarming rise in anti-trans legislation being proposed
                    in state legislatures across the country. These bills threaten to prevent trans kids from participating in sports, deny
                    gender-affirming healthcare, ban gender identity education in schools, and more.
                </p>
                <p>
                    With Track Trans Legislation, users can access an interactive map and table to easily understand 
                    the status of anti-trans bills across the country, learn how to take action to defend trans rights, and 
                    generate sample scripts to use for contacting legislators. 
                </p>
            </div>
            <div class="section">
                <h6>MY ROLE</h6>
                <p>Co-founder, designer, developer</p>
            </div>
            <div class="section">
                <a class="view noselect" href="https://www.tracktranslegislation.com/" target="_blank">
                    <span class="view-label">Visit the site</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </div>
    {%- endblock %}