{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper unravelcreative"></div>
        <div class="back-bar black"><b><a href="javascript:history.back()">&#8592; Home</a></b></div>
        <div class="content-body">
            <div class="section">
                <h3>Unravel Creative</h3>
                <h4>February 2022 - present</h4>
            </div>
            <div class="section">
                <h6>ABOUT UNRAVEL</h6>
                <p>
                    Unravel Creative is my small business selling handmade wearable art — primarily crafted 
                    using embroidery. As the owner, I singlehandedly design & create products, market the brand, 
                    and manage orders. In addition to the online shop, you can find me representing Unravel Creative
                    at local flea markets across New York City.
                </p>
            </div>
            <div class="section">
                <a class="view noselect" href="https://www.unravelcreative.co/" target="_blank">
                    <span class="view-label">Visit the shop</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </div>
    {%- endblock %}