{% extends "portfolio-layout.nunjucks" %}
    {% block content -%}
        <div class="img-wrapper wnywomenowned"></div>
        <div class="back-bar black"><b><a href="javascript:history.back()">&#8592; Home</a></b></div>
        <div class="content-body">
            <div class="section">
                <h3>WNY Women-Owned Business Directory</h3>
                <h4>January-March 2021</h4>
            </div>
            <div class="section">
                <h6>ABOUT THE PROJECT</h6>
                <p>
                    As a volunteer consultant for WNY Women's Foundation, I was recruited to design and build
                    a custom experience where people can easily browse a directory of over 200 women-owned 
                    businesses in Western New York. I worked with the organization to quickly deliver a solution 
                    that was aligned with their brand vision, built within their existing website infrastructure,
                    and that could be easily maintained without my ongoing intervention.
                </p>
            </div>
            <div class="section">
                <h6>ABOUT WNY Women's Foundation</h6>
                <p>
                    WNY Women's Foundation is a nonprofit organization whose mission is to mission is to create 
                    a culture of possibility so each woman can live, grow, and lead to her fullest potential. 
                    They focus their efforts in Western New York, where they are based.
                </p>
            </div>
            <div class="section">
                <a class="view noselect" href="http://bit.ly/wny-women-owned-businesses" target="_blank">
                    <span class="view-label">Visit the directory</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </div>
    {%- endblock %}