.page-content {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.content-left {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: #494440;
    display: flex;
}

    .content-left img {
        width: 80%;
        margin: auto;
    }

.content-right {
    position: fixed;
    left: 60%;
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
}

.description {
    margin: auto;
    padding: 0 65px;
}

    .description h1 {
        margin-top: 0;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #4975e2;
    }

    .description h2 {
        margin: 10px 0 20px;
        max-width: 95%;
        font-size: 18px;
        line-height: 24px;
        font-weight: 200;
        letter-spacing: 1px;
    }

    .description p {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Raleway', sans-serif;
    }

.project-nav {
    text-align: right;
    display: block;
}

