.page-content {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.content-left {
    position: absolute;
    width: 60%;
    height: 100%;
    display: flex;
}

    .content-left img {
        width: 80%;
        margin: auto;
    }

