.page-content {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.content-left {
    position: absolute;
    width: 60%;
    height: 100%;
    display: flex;
}

    .content-left img {
        width: 80%;
        margin: auto;
    }

.bmes .content-left {
    background-color: white;
}

.biogas .content-left {
    background-color: #494440;
}

.biogas .project-nav {
    text-align: right;
    display: block;
}

@media (orientation: portrait) {
    .page-content {
        width: auto;
        height: auto;
    }

    .page-content section {
        position: relative;
    }

    .content-left {
        left: 0;
        width: 100%;
        height: 40vh;
        padding: 50px;
        /*margin-top: 60px;*/
        padding-top: 110px;
    }

    .back {
        position: fixed;
        top: 0;
        height: 60px;
        width: 100%;
        background: rgba(248, 248, 248, 0.8);
    }

    @media (max-width: 699px) {
        .content-left {
            height: 60vh;
            padding-left: 0;
            padding-right: 0;
        }

        .content-left img {
            width: 85%;
        }
    }

    @media (max-width: 490px) {
        .content-left img {
            width: 90%;
        }
    }
}